<% include template/header.ejs %>
<link rel="stylesheet" href="/stylesheets/404.css" />
<script src="/javascripts/404.js"></script>
<h1>404</h1>
<button id = "picButton">LOL</button>
<% include template/footer.ejs %>
