<% include template/header.ejs %>
<% include template/flash.ejs %>
	
			<h1>Editing <%= current_user.username %></h1>
			
			<form method="POST" action="/update">
				<input id="firstname" type="text" name="firstname" placeholder="First" value="<%= current_user.firstname %>"/>

				<input id="lastname" type="text" name="lastname" placeholder="Last" value="<%= current_user.lastname %>"/></br>


				<input id="email" type="email" name="email" placeholder="Email" value="<%= current_user.email %>" /><br>

				<input id="submitButton" type="submit" value="Update User" name="submitButton" class="btn" />
			</form>

			<form method="POST" action="/update">

				<input id="password" type="password" name="oldpassword" placeholder="Old Password" /><br>

				<input id="newpassword" type="password" name="newpassword" placeholder="New Password" /><br>

				<input id="validatePass" type="password" name="confirmpassword" placeholder="Confirm New Password" /><i id="ok" class="icon-ok" style="display: none;"></i><br>

				<input id="submitButton" type="submit" value="Update Password" name="submitButton" class="btn" />
			</form>

<% include template/footer.ejs %>