<!DOCTYPE html>
<html>
  <head>
    <title><%= User.username %>:Following</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= User.username %></h1>
    <p>Is Following:</p>
    <% User.following.forEach(function(followed_user){ %>
    	<li><%= followed_user %></li>
    <% });%>
  </body>
</html>
