<!DOCTYPE html>
<html>
  <head>
    <title><%= name %>:Followers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Here are you're Followers</p>
    <% followers.forEach(function(name){ %>
    	<li><%= name %></li>
    <% });%>
  </body>
</html>
