<% include template/header.ejs %>

	<h1><%= user.username %></h1>
	<p>Here are your Followers</p>
	<% followers.forEach(function(follower){ %>
		<li><a href="/<%= follower.username %>/profile"><%= follower.username %></a></li>
	<% });%>

<% include template/footer.ejs %>