<% include template/header.ejs %>

    <h1><%= User.username %></h1>
    <p>Is Following:</p>
    <% User.following.forEach(function(follower){ %>
    	<li><a href="/<%= follower %>/profile"><%= follower %></a></li>
    <% });%>

<% include template/footer.ejs %>
