<% include template/header.ejs %>
<% include template/flash.ejs %>

	<h1><%= user.username %></h1>
	<p>Is Following:</p>
	<% following.forEach(function(followed){ %>
		<li><a href="/<%= followed.username %>/profile"><%= followed.username %></a></li>
	<% });%>

<% include template/footer.ejs %>