<% include template/header.ejs %>
<% include template/flash.ejs %>
<link rel="stylesheet" href="/stylesheets/home.css" />

		<h1><%= title %></h1>

			<% include template/post_list.ejs %>

<% include template/footer.ejs %>