<% include template/header.ejs %>

	<div id="content">
		<h1><%= title %></h1>

	<p>Welcome home <%= current_user.username %>!</p>


		<form method="POST" action="/submitNewPost">
					
			<textarea id="postTextField" type="text" name="postTextField" placeholder="Compose a new post..."></textarea>
			Like
			<input id="like" type="checkbox" name="like" /><br>
			<input id="submitButton" type="submit" value="Post" name="submitButton" class="btn" />
			
			<div id="users-post-area">
				<p> <%= current_user %>'s Posts</p>  
				<% include template/post.ejs %> <!-- This is a post object -->
			</div>

		</form>
	</div>
<% include template/footer.ejs %>
