<% include template/header.ejs %>
<link rel="stylesheet" href="/stylesheets/home.css" />

	<div id="content">
		<h1><%= title %></h1>

		<p>Welcome, <%= current_user.username %>!</p>


		<form method="POST" action="/submitNewPost">
					
			<textarea id="postTextField" type="text" name="postTextField" placeholder="Compose a new post..."></textarea>
			Like
			<input id="like" type="checkbox" name="like" /><br>
			<input id="submitButton" type="submit" value="Post" name="submitButton" class="btn" />
			<br><br>

			<p><%= current_user.username %>'s Posts</p>
			<% include template/post_list.ejs %>

		</form>
	</div>
<% include template/footer.ejs %>
