<% include template/header.ejs %>
<h1><%= User.username %></h1>
<p>My profile page!</p>
<a href="/<%= User.username %>/followers">followers</a> ~ <a href="/<%= User.username %>/following">following</a>

<% include template/footer.ejs %>
