<% include template/header.ejs %>
<% include template/flash.ejs %>

		<h1>Settings</h1>
		<% if(current_user){ %>

		<p> Shorty is back, and ready to help you out. We all know you need it. </p>


<h3> Editing Your Information </h3>
<p> Want to edit some of your personal information? <p>
<a href='/<%= current_user.username %>/edit'> Update Your Information </a>


<h3> Delete Your Account </h3>
<p> We can SmallTalk through this. Don't be rash now! I didn't mean to belittle you (yes I did). </p>
<a href='/delete'> Delete </a>


<% }else{ %>

<p> 
So are you here to learn how to set the table? You aren't even logged in yet. Go login you hasty mongral!

</p>	

		
<% } %>

<% include template/footer.ejs %>
