<!DOCTYPE html>
<html>
	
	<head>
		<title><%= title %></title>

		<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/signup.css" />

		<script type="text/javascript" src="/lib/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/signup.js"></script>
	</head>
	
	<body>
		<h1><%= title %></h1>
		<p>Welcome to SmallTalk.</p>
		
		<form method="POST" action="/addNewUser">
			
			<input id="firstname" type="text" name="fistname" placeholder="First" />
			<input id="lastname" type="text" name="lastname" placeholder="Last" /><br>
			<input id="username" type="text" name="username" placeholder="Username" /><br>
			<input id="email" type="email" name="email" placeholder="Email" /><br>
			<input id="password" type="password" name="password" placeholder="Password" /><br>
			<input id="validatePass" type="password" placeholder="Confirm Password" /><i id="ok" class="icon-ok" style="display: none;"></i><br>
			<input id="submitButton" type="submit" value="Submit" name="submitButton" class="btn" />
		</form>
	</body>
</html>