/* for home.ejs, the style for the area in which posts are stored.*/
#users-post-area
{
	width: 500px;
	background: lightsteelblue;
}
#users-post
{
	height: 50px;
	width: 400px;
}
#postTextField
{
	resize: none;
	height: 50px;
	width: 490px;
}
.post_message
{
	background: white;
}
