input[type='text']
{
	color: #000000;
	width: 200px;
	transition: .5s;
	-webkit-transition: .5s;
}
input:focus
{
	color: #888888;
	transition: .5s;
	-webkit-transition: .5s;
}

#lastname, #firstname
{
	width: 91px;
}

#ok
{
	margin-top: -3px;
	margin-left: 5px;
}
