body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Fixed Position Global Nav Bar */
#sticky-bar
{
	position: fixed;
	height: 30px;
	width: 100%;
	top: 0px;
	left: 0px;
	background: lightsteelblue;
}
#container
{
	margin-top: 30px; /* should be equal to #sticky-bar height */
}
