body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Fixed Position Global Nav Bar */
#sticky-bar
{
	/* Positioning */
	position: fixed;
	height: 30px;
	width: 100%;
	top: 0px;
	left: 0px;

	background: lightsteelblue;

	line-height: 30px; /* vertically aligns text */
}
#container
{
	margin-top: 30px; /* should be equal to #sticky-bar height */
}

#gear-menu
{
	/*margin: 4px;*/
	/*float: right;*/
}

#gear-menu > a
{
	margin: 4px;
}

#content
{
	margin: auto;
	width: 1000px;
}

/* why does this not already exist in bootstrap? oh well */
.text-input-small
{
	margin-top: -5px;
	height: 15px;
	padding: 2px 10px;
	font-size: 11.9px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
}
