<!DOCTYPE html>
<html>
<head>
	<%
		this.title = undefined;
		this.javascript = undefined;
		this.stylesheet = undefined;
	%>
	<title><%= title || "SmallTalk" %></title>
	<link rel="stylesheet" href="/lib/normalize.css" />
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/<%= stylesheet || "" %>" />
	<script type="text/javascript" src="/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/lib/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript" src="/javascripts/<%= javascript || "" %>"></script>
</head>
<body>

<div id="sticky-bar">
	<!-- <h4 style="margin: 3px;">Welcome to SmallTalk!</h4> -->
	<span>Welcome to SmallTalk</span>

	<span><a href="/">home</a></span>
	<% if(current_user){%><span><a href="/<%= current_user.username %>/profile">profile</a></span><%}%>

	<!-- <span class="clearfix"></span> -->
	<form class="form-search" style="display: inline;">
		<div class="input-append">
			<input type="text" id="global-search-box" class="span2 search-query text-input-small">
			<button type="submit" class="btn btn-small"><i class="icon-search"></i></button>
		</div>
	</form>

	<div id="gear-menu" class="btn-group pull-right">
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
		<ul class="dropdown-menu">
			<li><a tabindex="-1" href="/settings">Settings</a></i>
			<li><a tabindex="-1" href="/help">Get Help</a></i>
			<li><a tabindex="-1" href="/shorty">Meet Shorty</a></i>	
			<li><a id="signout" tabindex="-1" href="/signout">Sign Out</a></i>
		</ul>
	</div>
</div>

<div id="container">
<div id="content">