			

<div id= "post-container">
	<img src="/images/User-icon-scaled.png"></img>
	<input id="users-post" type="textarea" class="span2 input-small" disabled= "disabled"></input><br>
	<span> <%= Post.user  %> </span>
</div>