				

<div id= "post-container">

	<img src="/images/User-icon-scaled.png">
	</img>
	<span> <%= current_user %> </span>
				
	<div class="users-post"> 
		<input type="textarea" class="span2 input-small">
	</div>
</div>