<div id="users-post-area">
	<% posts.reverse().forEach(function(post){ %>
		<div class="post-container">
			<table>
				<tr>
					<td><img src="/images/User-icon-scaled.png"></img></td>
					<td style= "background:white; width: 420px;"><p class="post_message"><%- helpers.processPost(post.content) %></p><br></td>
				</tr>
			</table>
			<span><%- "<a href='/"+post.username+"/profile' style='color: rgb(0, 85, 128);'>"+post.username+"</a>" %></span>
		</div>
	<% }) %>
</div>